RewriteEngine on
RewriteRule ^([^/]+)$ ../oauth.php?param1=$1 [QSA]
RewriteRule ^([^/]+)/([^/]+)$ ../oauth.php?param1=$1&param2=$2 [QSA]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ ../oauth.php?param1=$1&param2=$2&param3=$3 [QSA]